<!DOCTYPE HTML>

<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Quika Solutions LLC</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet"> -->
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/static/css/icomoon.css">
	<!-- Themify Icons-->
	<link rel="stylesheet" href="/static/css/themify-icons.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/static/css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/static/css/magnific-popup.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/static/css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/static/css/style.css">

	<!-- Modernizr JS -->
	<script src="/static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">
	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo">
						<a href="/index">
							<img src="/static/images/quika-logo.png" style="width:200px; margin-left:10px;border: 1px solid green; opacity: 0.85;">
						</a>
					</div>

				</div>
				<div class="col-xs-8 text-right menu-1">
					<ul>
						<li class="active"><a href="/index">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/service">Services</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</nav>

	<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(/static/images/img_bg_1.jpg);">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					<div class="display-t">
						<div class="display-tc">
							<h1 class="animate-box" data-animate-effect="fadeInUp"><a href='#'>Your Business With Our Techniques</a></h1>
							<h2 class="animate-box" data-animate-effect="fadeInUp">Contact us to learn more about our services</h2>
							<p class="animate-box" data-animate-effect="fadeInUp"><a href="/contact" class="btn btn-white btn-lg btn-outline">Get In Touch</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="gtco-features-3">
		<div class="gtco-container">
			<div class="gtco-flex">
				<div class="feature feature-1 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="ti-settings"></i>
						</span>
						<h3>Data Management</h3>
						<p>It is our first priority to provide an efficient and secure data management system for our customers. </p>
						
					</div>
				</div>
				<div class="feature feature-2 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="ti-vector"></i>
						</span>
						<h3>Machine Learning</h3>
						<p>We provide the necessary tool kits, middleware, infrastructure to build AI application for every valuable business scenario.</p>
						
					</div>
				</div>
				<div class="feature feature-3 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="ti-ruler-pencil"></i>
						</span>
						<h3>Data Visualization</h3>
						<p>We utilize the charts and graphs to visualize the data provide the responsive interfaces for our customers. </p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	

	<div id="gtco-portfolio" class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>Our Works</h2>
					<p>AI-based applications in different fields</p>
				</div>
			</div>

			<div class="row row-pb-md">
				<div class="col-md-12">
					<ul id="gtco-portfolio-list">
						<li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/mat2.jpg); "> 
							<a href="#" class="color-6">
								<div class="case-studies-summary">
									<span></span>
									<h2>Manufacturing industries optimization</h2>
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/mat1.jpg); ">
							<a href="#" class="color-2">
								<div class="case-studies-summary">
									<span></span>
									<h2>Computer vision applications</h2>
								</div>
							</a>
						</li>

						<li class="one-half animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/mat3.png); ">
							<a href="#" class="color-1">
								<div class="case-studies-summary">
									<span></span>
									<h2>Natural language processing</h2>
								</div>
							</a>
						</li>
						<li class="one-half animate-box" data-animate-effect="fadeIn" style="background-image: url(/static/images/mat4.jpg); ">
							<a href="#" class="color-6">
								<div class="case-studies-summary">
									<span></span>
									<h2>Healthcare Applications</h2>
								</div>
							</a>
						</li>

					</ul>		
				</div>
			</div>

			
		</div>
	</div>

	
	<div id="gtco-products">
		<div class="gtco-container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>Products</h2>
				</div>
			</div>
			<div class="row animate-box">
				<div class="owl-carousel owl-carousel-carousel">
					<div class="item">
						<img src="/static/images/mat22.jpg" style='height:220px' alt="Free HTML5 Bootstrap Template by GetTemplates.co">
					</div>
					<div class="item">
						<img src="/static/images/mat11.jpg" style='height:220px' alt="Free HTML5 Bootstrap Template by GetTemplates.co">
					</div>
					<div class="item">
						<img src="/static/images/mat33.png" style='height:220px' alt="Free HTML5 Bootstrap Template by GetTemplates.co">
					</div>
					<div class="item">
						<img src="/static/images/mat44.jpg" style='height:220px' alt="Free HTML5 Bootstrap Template by GetTemplates.co">
					</div>
				</div>
			</div>
		</div>
	</div>
    
	

	<div id="gtco-subscribe">
		<div class="gtco-container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Subscribe</h2>
					<p>Be the first to know our products.</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-12">
					<form class="form-inline">
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="email" class="sr-only">Email</label>
								<input type="email" class="form-control" id="email" placeholder="Your Email">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="name" class="sr-only">Name</label>
								<input type="text" class="form-control" id="name" placeholder="Your Name">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<button type="submit" class="btn btn-default btn-block">Subscribe</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<footer id="gtco-footer" role="contentinfo">
		<div class="gtco-container">
			<div class="row row-p	b-md">

				<div class="col-md-5">
					<div class="gtco-widget">
						<h3>About Us</h3>
						<p>Quika Solutions LLC focuses on applying artificial intelligence techniques to the industries in order to support energy-saving production and intelligent management.</p>
					</div>
				</div>

				<div class="col-md-2"></div>

				<div class="col-md-5">
					<div class="gtco-widget">
						<h3>Get In Touch</h3>
					
						<ul class="gtco-quick-contact">
							<li><a href="#"><i class="icon-phone"></i>+1 (248)-217-5915</a></li>
							<li><a href="#"><i class="icon-mail2"></i> quikasolutions@gmail.com</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block"><a href='#'>Copyright © 2020. Quika Solutions LLC All rights reserved.</a></small>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="/static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/static/js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="/static/js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="/static/js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="/static/js/jquery.magnific-popup.min.js"></script>
	<script src="/static/js/magnific-popup-options.js"></script>
	<!-- Main -->
	<script src="/static/js/main.js"></script>

	</body>
</html>

